.box {
    background-color: black;
    width: 100px;
    height: 300px;
    padding-left:20px;
    padding-top: 10px;
}
.light {
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin-top: 10px;
    background-color: grey;
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}